<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aqnote.module.telephony">

    <!--Phone: 使用和管理电话-->

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.USE_SIP"/>
    <uses-permission android:name="android.permission.ACCESS_UCE_OPTIONS_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_UCE_PRESENCE_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_IMS_CALL_SERVICE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!--<receiver android:name=".SimStateReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.SIM_STATE_CHANGED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>
